.item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    justify-content: center;
}

.item-title {
    font-size: 24px;
    margin: 20px 0;
}

.item-img {
    width: 100%;
    height: 20vh;
    object-fit: cover;
}


.item-description {
    margin: 10px 0;
    justify-content: center;
    background-color: #9d8689;
    padding: 10px;
    border-radius: 5px;
}

button {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-self: start;
}