.pagination-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination-controls button {
    margin: 0 10px;
}

.pagination-controls input {
    width: 30px;
    margin: 0 10px;
}